		<div class="nav">
			<nav>
				<ul>
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<%= link_to "Dashboard", dashboard_path %>
					</li>
					<li>
						<%= link_to "Patissor", services_path %>
					</li>
					<li>
						<%= link_to "Be Patissor", new_service_path %>
					</li>
				</ul>
			</nav>
		</div>

<div class="container-service-form">
<h1>New Services</h1>
<div class="form__group field">
<%= simple_form_for(@service) do |f| %>
  <%= f.input :name,
  input_html: { autocomplete: "name", class: "input-line full-width" } %>
  <%= f.input :description, 
  input_html: { autocomplete: "description", class: "input-line full-width" } %>
   <%= f.input :price_per_hour, 
   input_html: { autocomplete: "price_per_hour", class: "input-line full-width" } %>
    <%= f.input :localisation, 
    input_html: { autocomplete: "localisation", class: "input-line full-width" } %>
  <%= f.submit class: "btn btn-outline-secondary btn-lg mb-2" %>
<% end %>
</div>
</div>
