<div class='image-container' style='background-image: url("<%= image_path "cupcake.jpg" %>")'>
		<div class="nav-service">
			<nav>
				<ul>
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<%= link_to "Dashboard", dashboard_path %>
					</li>
					<li>
						<%= link_to "Patissor", services_path %>
					</li>
					<li>
						<%= link_to "Be Patissor", new_service_path %>
					</li>
				</ul>
			</nav>
		</div>

	<div class="container container-service-form">
		<h1>Be a Patissor</h1>
			<%= simple_form_for(@service) do |f| %>
			<%= f.input :name,
               input_html: { autocomplete: "name", class: "input-line full-width" } %>
			<%= f.input :description,
               input_html: { autocomplete: "description", class: "input-line full-width" } %>
			<%= f.input :price_per_hour,
               input_html: { autocomplete: "price_per_hour", class: "input-line full-width" } %>
				<%= f.input :localisation,
                input_html: { autocomplete: "localisation", class: "input-line full-width" } %>
			<%= f.submit "Let's cook !", class: "btn btn-outline-secondary btn-lg mb-2" %>
			<% end %>
	</div>
</div>