<style type="text/css">* {cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol340.cur), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2009/12/15/cute-gingerbread-man.html" target="_blank" title="Cute Gingerbread Man"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Cute Gingerbread Man" style="position:absolute; top: 0px; right: 0px;" /></a>
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Bonjour !</div>
      <div class='subtitle'>Ravi de te revoir!</div>
      <div class='subtitle'>Tu dois créer un compte pour utiliser nos services.</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "input-line full-width" } %>
    <%= f.input :address,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "address", class: "input-line full-width" } %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "input-line full-width" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: "input-line full-width" } %>
  </div>

      <div class="form-actions">
        <div><button class='ghost-round full-width'>S'inscrire</button></div>
        <%= link_to "Tu possèdes un compte ? Viens ici.", new_user_session_path %>
      </div>
      <% end %>
    </div>
  </div>
</div>


