<style type="text/css">* {cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol340.cur), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2009/12/15/cute-gingerbread-man.html" target="_blank" title="Cute Gingerbread Man"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Cute Gingerbread Man" style="position:absolute; top: 0px; right: 0px;" /></a>
		<div class="nav">
			<nav>
				<ul>
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<%= link_to "Dashboard", dashboard_path %>
					</li>
					<li>
						<%= link_to "Patissor", services_path %>
					</li>
					<li>
						<%= link_to "Be Patissor", new_service_path %>
					</li>
				</ul>
			</nav>
		</div>

<div class="container-service-form">
<h1>New Rent</h1>
<div class="form__group field">
  <%= simple_form_for([@service, @rent]) do |f| %>
    <%= f.input :begin_date,
                input_html: { autocomplete: "begin_date", class: "input-line full-width" } %>
    <%= f.input :end_date,
                input_html: { autocomplete: "end_date", class: "input-line full-width" } %>
		<%= f.submit class: "btn btn-outline-secondary btn-lg mb-2", style: "justify-content:right" %>
  <% end %>
</div>
</div>
