<style type="text/css">* {cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol340.cur), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2009/12/15/cute-gingerbread-man.html" target="_blank" title="Cute Gingerbread Man"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Cute Gingerbread Man" style="position:absolute; top: 0px; right: 0px;" /></a>
<ul>
    <% @services.each do |service| %>
    <li><%= service.name %></li>
    <li><%= service.description %></li>
    <li><%= service.price_per_hour %></li>
    <li><%= service.localisation %></li>
    <li><%= link_to "Destroy", service, method: :delete, data: { confirm: "Are you sure ?" } %></li>
    <li><%= link_to "Edit", edit_service_path(service) %></li>
  <% end %>
</ul>
<ul>
    <% @rents.each do |rent| %>
    <li><%= rent.service.name %></li>
    <li><%= rent.begin_date %></li>
    <li><%= rent.end_date %></li>
    <li><%= link_to "Destroy", rent, method: :delete, data: { confirm: "Are you sure ?" } %></li>
  <% end %>
</ul>

<%= link_to "Home", root_path %>
