<ul>
    <% @services.each do |service| %>
    <li><%= service.name %></li>
    <li><%= service.description %></li>
    <li><%= service.price_per_hour %></li>
    <li><%= service.localisation %></li>
  <% end %>
</ul>
<ul>
    <% @rents.each do |rent| %>
    <li><%= rent.begin_date %></li>
  <% end %>
</ul>