<ul>
    <% @services.each do |service| %>
    <li><%= service.name %></li>
    <li><%= service.description %></li>
    <li><%= service.price_per_hour %></li>
    <li><%= service.localisation %></li>
    <li><%= link_to "Destroy", service, method: :delete, data: { confirm: "Are you sure ?" } %></li>
    <li><%= link_to "Edit", edit_service_path(service) %></li>
  <% end %>
</ul>
<ul>
    <% @rents.each do |rent| %>
    <li><%= rent.begin_date %></li>
    <li><%= rent.end_date %></li>
    <li><%= link_to "Destroy", rent, method: :delete, data: { confirm: "Are you sure ?" } %></li>
  <% end %>
</ul>

<%= link_to "Home", root_path %>
