<!DOCTYPE html>
<html lang="en">
	<head>
	<style type="text/css">* {cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol340.cur), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2009/12/15/cute-gingerbread-man.html" target="_blank" title="Cute Gingerbread Man"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Cute Gingerbread Man" style="position:absolute; top: 0px; right: 0px;" /></a>
		<meta charset="UTF-8">
		<title>The Patissor</title>
	</head>
	<body>
		<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1534766555764-ce878a5e3a2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
			<%= image_tag "thegoodpatissor.png", class: "logo" %>
			<div class="profil">
				<% if user_signed_in? %>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<%= link_to "Action", "#", class: "dropdown-item" %>
					<%= link_to "Another action", "#", class: "dropdown-item" %>
					<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
				</div>
			<% else %>
			<%= link_to new_user_session_path do %>
			<i class="far fa-user-circle"></i>
			<% end %>
			<% end %>
		</div>
	</div>
	<div class="search">
		<div class="nav">
			<nav>
				<ul>
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<%= link_to "Dashboard", dashboard_path %>
					</li>
					<li>
						<%= link_to "Patissor", services_path %>
					</li>
					<li>
						<%= link_to "Be Patissor", new_service_path %>
					</li>
				</ul>
			</nav>
		</div>
		<form novalidate="novalidate" class="simple_form search" action="/services" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
		<div class="search-form-control form-group">
			<input class="form-control string required" type="text" name="query" id="search_query" />
			<button name="button" type="submit" class="btn btn-flat">
			<i class="fas fa-search"></i> Search
			</button>
		</div>
	</form>
</div>
<h2>Top Patissors</h2>
<div class="container-card">
	<% @top_3_services.each do |service| %>
	<div id="login-container">
		<div class="profile-img"></div>
		<h1>
		<%= service.name %>
		</h1>
		<div class="description">
			<%= service.description %>
		</div>
		<div class="description-prix-loc">
		<h5>Prix à l'heure</h5>
		<%= service.price_per_hour %>€
		<h5>Localisation</h5>
		<%= service.localisation %>
		</div>
		<%= link_to "<button>Choisis moi</button>".html_safe, new_service_rent_path(service) %>
		
		<footer>
		</footer>
	</div>
	<% end %>
</div>
<div class="footer">
	<div class="footer-links">
		<a href="#"><i class="fab fa-instagram"></i></a>
		<a href="#"><i class="fab fa-facebook"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
	</div>
</div>
</body>
</html>